@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rowdies&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Space Mono", monospace;
}

h2 {
  font-family: "Space Mono", monospace;
}

h3 {
  font-family: "Prompt", sans-serif;
}

h4 {
  font-family: "Space Mono", monospace;
}

p {
  font-family: "Prompt", sans-serif;
}

body {
  background-color: #151515;
}

.header {
  background-color: #000000;
}
.header .conf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*-------------LOGO--------------*/
}
.header .conf .logo {
  display: flex;
  padding-block: 1rem;
  padding-inline: 2rem;
  text-decoration: none;
}
.header .conf .logo:hover h1 {
  transform: rotate(10deg);
  scale: 1.2;
}
.header .conf .logo:hover img {
  transform: rotate(-80deg);
  scale: 1.2;
}
.header .conf .logo img {
  height: 100px;
  margin-right: 10px;
  transition: 1s ease-out;
}
.header .conf .logo h1 {
  color: white;
  margin-top: 2.3rem;
  font-family: "Aladin", system-ui;
  font-size: 43px;
  transition: 1s ease-out;
}
.header .conf .mostrar-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
  order: 1;
}
.header .conf .mostrar-menu:hover {
  color: white;
}
.header .conf .menu a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}
.header .conf .menu a:hover {
  color: white;
}
.header .conf .menu .esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.header .conf .menu .esconder-menu:hover {
  color: white;
}
.header .conf #check {
  display: none;
}

/*font-family: 'Rowdies', sans-serif;*/
/*font-family: 'Markazi Text', serif;*/
/*font-family: 'Aladin', system-ui;*/
.fondo-img {
  background-image: url("../img/fondoparaindex.jpg");
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fondo-instrumentos {
  background-image: url("../img/fondo-intrumentos.jpg");
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fondo-equipos {
  background-image: url("../img/fondo-equipos.jpg");
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titulo {
  color: white;
  text-align: center;
  background-color: #000000;
  padding-bottom: 15px;
}
.titulo h1 {
  height: 15%;
  font-size: 130px;
  font-family: "Markazi Text", serif;
  padding-top: 0;
  margin: 0;
}
.titulo h2 {
  font-size: 40px;
  font-family: "Markazi Text", serif;
  padding: 0;
  margin: 0;
}

.venta {
  padding: 2rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5607843137);
  border-radius: 5%;
}
.venta div {
  max-width: 500px;
}
.venta h3 {
  color: #d5b75d;
  font-family: "Aladin", system-ui;
}
.venta h4 {
  color: cadetblue;
  font-family: "Aladin", system-ui;
}
.venta img {
  margin-inline: 20px;
  width: 200px;
  height: 200px;
}

.ventas {
  display: flex;
  justify-content: space-around;
  padding-block: 60px;
  padding-top: 50px;
  text-align: center;
}

.ventas2 {
  display: flex;
  justify-content: space-around;
  padding-block: 60px;
  padding-top: 50px;
  text-align: center;
}

.ventas3 {
  display: flex;
  justify-content: space-around;
  padding-block: 60px;
  padding-top: 50px;
  text-align: center;
}

.grilla-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-block: 150px;
  align-items: center;
  flex-wrap: wrap;
}
.grilla-index .logo-instrumentos-grid {
  grid-area: 1/1/2/3;
  transition: 1s ease-out;
}
.grilla-index .logo-instrumentos-grid:hover {
  scale: 1.2;
}
.grilla-index .logo-instrumentos-grid img {
  width: 600px;
  height: 400px;
  border-radius: 5%;
}
.grilla-index .ventas {
  grid-area: 1/3/2/5;
}
.grilla-index .ventas2 {
  grid-area: 2/1/3/3;
}
.grilla-index .logo-pedal-grid {
  grid-area: 2/3/3/5;
  transition: 1s ease-out;
}
.grilla-index .logo-pedal-grid:hover {
  scale: 1.2;
}
.grilla-index .logo-pedal-grid img {
  width: 600px;
  height: 400px;
  margin-left: 50px;
  border-radius: 5%;
}
.grilla-index .logo-amplificador-grid {
  grid-area: 3/1/4/3;
  transition: 1s ease-out;
}
.grilla-index .logo-amplificador-grid:hover {
  scale: 1.2;
}
.grilla-index .logo-amplificador-grid img {
  width: 600px;
  height: 400px;
  border-radius: 5%;
}
.grilla-index .ventas3 {
  grid-area: 3/3/4/5;
}

/*--------GRILLA-DE-VENTAS---------------*/
.grilla-venta {
  padding-inline: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}
.grilla-venta .venta1 {
  grid-area: 1/1/2/2;
}
.grilla-venta .venta2 {
  grid-area: 1/2/2/3;
}
.grilla-venta .venta3 {
  grid-area: 1/3/2/4;
}
.grilla-venta .venta4 {
  grid-area: 2/1/3/2;
}
.grilla-venta .venta5 {
  grid-area: 2/2/3/3;
}
.grilla-venta .venta6 {
  grid-area: 2/3/3/4;
}
.grilla-venta .venta7 {
  grid-area: 3/1/4/2;
}
.grilla-venta .venta8 {
  grid-area: 3/2/4/3;
}
.grilla-venta .venta9 {
  grid-area: 3/3/4/4;
}
.grilla-venta .venta10 {
  grid-area: 4/1/5/2;
}
.grilla-venta .venta11 {
  grid-area: 4/2/5/3;
}
.grilla-venta .venta12 {
  grid-area: 4/3/5/4;
}

footer .redes {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  padding-inline: 20px;
  flex-wrap: wrap;
}
footer .redes .copyright p {
  color: white;
  max-width: 700px;
  font-size: 13px;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer .redes a {
  display: flex;
  padding-top: 25px;
}
footer .redes a img {
  height: 25px;
  padding-right: 15px;
}
footer .redes a h3 {
  color: #d5b75d;
  font-family: "Aladin", system-ui;
}

.nosotros {
  display: flex;
  justify-content: center;
  color: white;
}
.nosotros .empleados {
  padding-block: 28.5px;
}
.nosotros .empleados img {
  width: 800px;
}
.nosotros .empleados h3 {
  padding-bottom: 5px;
  color: #d5b75d;
}
.nosotros .subtexto {
  padding-bottom: 20px;
  width: 800px;
  color: white;
}
.nosotros .subtexto h3 {
  padding-bottom: 5px;
  color: #d5b75d;
}
.nosotros .subtexto p {
  font-size: 20px;
}

.contactotitulo {
  display: flex;
  justify-content: center;
  padding-inline: 40px;
  padding-block: 50px;
  font-size: 40px;
  color: #d5b75d;
}

.contacto {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 76px;
  color: #d5b75d;
}
.contacto li {
  display: flex;
  justify-content: center;
  padding-bottom: 33.4px;
}
.contacto h3 {
  font-size: 40px;
}
.contacto input {
  margin-inline: 9px;
  background-color: #151515;
}
.contacto textarea {
  margin-inline: 9px;
  background-color: #151515;
}
.contacto .button-name {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.contacto .button-name:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.contacto .button-name:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.contacto .button-name:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 1400px) {
  .header .conf .mostrar-menu {
    display: block;
  }
  .header .conf .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .header .conf .menu .esconder-menu {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .header .conf .menu a {
    display: block;
    padding: 20px;
  }
  .header .conf #check:checked ~ .menu {
    right: 0;
  }
  .titulo h1 {
    font-size: 50px;
  }
  .titulo h2 {
    font-size: 30px;
  }
  .venta {
    margin: 5px;
  }
  .venta img {
    width: 300px;
    height: 300px;
  }
  .empleados img {
    width: 400px;
  }
  .subtexto {
    width: 400px;
  }
  /*GRILLA DE INDEX*/
  .grilla-index {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-block: 0px;
    align-items: center;
  }
  .grilla-index .logo-instrumentos-grid {
    grid-area: 1/1/2/3;
  }
  .grilla-index .logo-instrumentos-grid img {
    width: 100%;
    height: 100%;
  }
  .grilla-index .ventas {
    grid-area: 2/1/4/3;
    flex-wrap: wrap;
  }
  .grilla-index .ventas img {
    width: 200px;
    height: 200px;
  }
  .grilla-index .logo-pedal-grid {
    grid-area: 4/1/5/3;
  }
  .grilla-index .logo-pedal-grid img {
    width: 100%;
    height: 100%;
    margin-left: 0px;
  }
  .grilla-index .ventas2 {
    grid-area: 5/1/7/3;
    flex-wrap: wrap;
  }
  .grilla-index .ventas2 img {
    width: 200px;
    height: 200px;
  }
  .grilla-index .logo-amplificador-grid {
    grid-area: 7/1/8/3;
  }
  .grilla-index .logo-amplificador-grid img {
    width: 100%;
    height: 100%;
  }
  .grilla-index .ventas3 {
    grid-area: 8/1/10/3;
    flex-wrap: wrap;
  }
  .grilla-index .ventas3 img {
    width: 200px;
    height: 200px;
  }
  .grilla-venta {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 776px) {
  .titulo h1 {
    font-size: 35px;
  }
  .titulo h2 {
    font-size: 17px;
  }
  .venta img {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 430px) {
  .empleados img {
    width: 300px;
  }
  .subtexto {
    width: 300px;
  }
}/*# sourceMappingURL=estilo.css.map */