.fondo-img {
    background-image: url("../img/fondoparaindex.png");
    background-position: center center;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}