.header {
    background-color: $color-principal;
    
    .conf {
        display: flex;
    align-items: center;
    justify-content: space-between; 
    
    
     /*-------------LOGO--------------*/
        .logo {
            display: flex;
            padding-block: 1rem;
            padding-inline: 2rem;
            text-decoration: none;
            
            &:hover {
                h1 {
                    transform: rotate(10deg);
                    scale: 1.2;
                    color: $color-letras-dor;
                }
                img {
                    transform: rotate(-80deg);
                    scale: 1.2;
                }
                
            }
            img {
                height: 100px;
                margin-right: 10px;
                transition: 1s ease-out;
                
            }
                
            h1 {
                color: $color-blanco;
                margin-top: 2.3rem;
                font-family: 'Aladin', system-ui;
                font-size: 43px;
                transition: 1s ease-out;
            }
        }
        .mostrar-menu {
            font-size: 30px;
            cursor: pointer;
            display: none;
            transition: 0.4s;
            order:1;
            color: $color-blanco;
            &:hover {
                color: $color-letras-dor;
            }
        }

        .menu {
            a {
            color: $color-blanco;
            text-transform: uppercase;
            text-decoration: none;
            padding: 0 10px;
            transition: 0.8s;
            &:hover {
                color: $color-letras-dor;
            }
            }
            .esconder-menu {
                font-size: 30px;
                cursor: pointer;
                display: none;
                transition: 0.4s;
                &:hover {
                    color: $color-blanco;
                }
            }
        }
        #check {
            display: none;
        }
    }

    
}
