@media (max-width: 1400px) {

    .header {
        .conf {
            .mostrar-menu {
                display: block;
            }
            .menu {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: black;
                right: -100%;
                top: 0;
                text-align: center;
                padding: 100px 0px;
                z-index: 100;
                transition: 0.8s;
                .esconder-menu {
                    display: block;
                    position: absolute;
                    top: 45px;
                    right: 80px;
    
                }
                a {
                    display: block;
                    padding: 20px;
                }
            }
            #check:checked ~ .menu {
                right: 0;
            }
        }
        
    }


    .titulo {
        h1 {
            font-size: 50px;
        }
        h2 {
            font-size: 30px;
        }
    }

    .venta {
        margin: 5px;
        img {
            width: 300px;
            height: 300px;
        }
    }

    .subtexto {
        width: 400px;
    }
    /*GRILLA DE INDEX*/
    .grilla-index {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        padding-block: 0px;
        align-items: center;
        .logo-instrumentos-grid { 
            grid-area: 1 / 1 / 2 / 3; 
            img {
                width: 100%;
                height: 100%;
            }
        }
        .ventas {
            grid-area: 2 / 1 / 4 / 3;
            flex-wrap: wrap;
            img{
                width: 200px;
                height: 200px;
            }
        }
        .logo-pedal-grid { 
            grid-area: 4 / 1 / 5 / 3;
            img {
                width: 100%;
                height: 100%;
                margin-left: 0px;
            }
        }
        .ventas2 { 
            grid-area: 5 / 1 / 7 / 3;
            flex-wrap: wrap;
            img{
                width: 200px;
                height: 200px;
            }
        }
        
        .logo-amplificador-grid { 
            grid-area: 7 / 1 / 8 / 3; 
            img {
                width: 100%;
                height: 100%;
            }
        }
        .ventas3 {
            grid-area: 8 / 1 / 10 / 3;
            flex-wrap: wrap;
            img{
                width: 200px;
                height: 200px;
            }
        }
        
    }
    
    .grilla-venta {
        display: flex;
        flex-wrap: wrap;
    }
    
}

@media (max-width: 776px) {
    
    .nosotros {
        ul {
            .empleados {
                img {
                    width: 300px;
                }
            }
            .subtexto {
                width: 300px;
            }
        }
        
    }
    .titulo {
        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 17px;
        }
    }

    .venta {
        img {
            width: 100px;
            height: 100px;
        }
    }
    
}
@media (max-width: 430px) {

    

    .empleados {
        img {
            width: 200px;
        }
    }

    .subtexto {
        width: 200px;
    }
}