* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
ul {
    padding: 0px;
}

a {
    text-decoration: none;
}
h1 {
    font-family: 'Space Mono', monospace;
}
h2 {
    font-family: 'Space Mono', monospace;
}
h3 {
    font-family: 'Prompt', sans-serif;
}
h4 {
    font-family: 'Space Mono', monospace;
}
p {
    font-family: 'Prompt', sans-serif;
}