.titulo {
    color: white;
        text-align: center;
        background-color: $color-principal;
        padding-block: 15px;

        h1 {
            font-size: 100px;
        }
        h2 {
            font-size: 40px;
        }
}